@import "tailwindcss";

@theme {
  --breakpoint-xs: 361px;
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-gray-text: rgb(140, 146, 164);
  --color-box-bg: rgba(24, 28, 32, 0.6);
  --color-accent: rgb(220, 20, 100);

  --animate-move-left-right: move-left-right 2s infinite ease-out;
  @keyframes move-left-right {
    0%,
    100% {
      transform: translateX(0);
    }
    50% {
      transform: translateX(
        calc(100vw - 2 * 10px - 8px)
      ); /* calc(100vw - 2 * 16px - 10px) */
    }
  }
}

@layer utilities {
  .p-main {
    @apply p-2 xs:p-[10px] sm:p-4;
  }
}

:root {
  --background: #110000;
  --foreground: var(--color-gray-text);
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: ui-monospace, SFMono-Regular, Menlo, "Roboto Mono", monospace;
}

button:not([disabled]) {
  cursor: pointer;
}

table {
  caption {
    text-align: inherit;
  }
}
