@import "tailwindcss";

@font-face {
  font-family: "Menlo-Regular";
  src: url("/fonts/Menlo-Regular.woff") format("woff");
  font-display: swap;
}

@theme {
  --breakpoint-xs: 22.5rem; /* 360px */
  --font-mono: Menlo-Regular, Menlo, ui-monospace, SFMono-Regular, Monaco,
    Consolas, "Liberation Mono", "Courier New", monospace;
  --logo-width: calc(126px + 2 * var(--padding-main));

  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-gray-text: rgb(150, 156, 171);
  --color-box: rgba(24, 28, 32, 0.7);
  --color-box-dark: rgba(12, 14, 16, 0.9);
  --color-box-solid: rgba(24, 28, 32, 1);
  --color-accent: rgb(220, 20, 100);
  --color-accent-hover: rgb(220, 20, 100, 0.2);
  --color-secondary: #373c4b;
  --color-menu-border: #373c4b80;
  --color-purple: rgb(100, 20, 180);
  --color-marker: rgb(200, 255, 90);

  --animate-move-left-right: move-left-right 3s infinite ease-in-out;
  @keyframes move-left-right {
    0%,
    100% {
      transform: translateX(0);
    }
    50% {
      transform: translateX(calc(100vw - 100%));
    }
  }

  --animate-recording-pulse: recording-pulse 2s infinite ease-in-out;
  @keyframes recording-pulse {
    0%,
    100% {
      color: transparent;
    }
    50% {
      color: var(--color-accent);
    }
  }
}

@custom-variant scroll-zero {
  body.scroll-zero & {
    @slot;
  }
}

@custom-variant overlay-scrolled {
  body.overlay-scrolled & {
    @slot;
  }
}

@custom-variant screenshot {
  body.screenshot & {
    @slot;
  }
}

@layer utilities {
  .p-main {
    @apply p-[var(--padding-main)];
  }
  .rounded-box {
    @apply rounded-[10px];
  }
  .rounded-btn {
    @apply rounded-[3px];
  }
  .has-menu-border {
    @apply pl-4 border-l-1 border-menu-border;
  }
  .text-logo {
    --menu-lh: 1.5em; /* for text base in menu */
    --logo-lh: 1.5;
    --menu-btn-height: var(--menu-lh);
    /* make logo match menu btn height: 
        button height / height for row in ascii art */
    font-size: calc((var(--menu-btn-height)) / (7 * var(--logo-lh)));
    line-height: calc(var(--logo-lh) * 1em);
  }
  .text-ascii-title {
    @apply text-[min(calc(1.25vw),0.6rem)]/[1.5];
  }
  .input-appearance {
    /* for Select and TextInput */
    @apply h-6.5 px-2 border-1 border-menu-border rounded-[3px];
  }
  .no-scrollbar {
    &::-webkit-scrollbar {
      display: none;
    }
    -ms-overflow-style: none;
    scrollbar-width: none;
  }
  .lesson-width {
    @apply lg:max-w-[90vw] xl:max-w-[calc(100vw-2*var(--logo-width))] mx-auto;
  }
}

:root {
  --background: #0d0000;
  --foreground: var(--color-gray-text);
  --padding-main: calc(var(--spacing) * 1.75);
  @media (width >= theme(--breakpoint-xs)) {
    --padding-main: calc(var(--spacing) * 2.5);
  }
  @media (width >= theme(--breakpoint-sm)) {
    --padding-main: calc(var(--spacing) * 4);
  }
  --header-height: calc(var(--padding-main) * 2 + 1.5rem);
  --logo-height: 92px;
  --slider-value-width: 2.5em;
  --tile-duration: 0.5s;
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: var(--font-mono);
}

body.screenshot {
  --header-height: var(--padding-main);
  nextjs-portal {
    display: none;
  }
}

button:not([disabled]) {
  cursor: pointer;
}

table {
  caption {
    text-align: inherit;
  }
}
